<a href="https://colab.research.google.com/github/alishermutalov/pandas-lessons/blob/pandas-learning/groups_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv', index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [5]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [6]:
bins = [0, 10000, 20000, 50000]
df['price_bin'] = pd.cut(df.price, bins)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_bin
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,"(10000, 20000]"
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,"(10000, 20000]"
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,"(10000, 20000]"
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,"(10000, 20000]"
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,"(10000, 20000]"

In [8]:
names = ["arzon", "o'rta", "qimmat"]
df['price_bin_name'] = pd.cut(df.price, bins, labels=names)
df['price_bin'] = pd.cut(df.price, bins)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price_bin,price_bin_name
index,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,"(10000, 20000]",o'rta
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,"(10000, 20000]",o'rta
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,"(10000, 20000]",o'rta
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,"(10000, 20000]",o'rta
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,"(10000, 20000]",o'rta

In [13]:
range = pd.cut(df.price, 3)
range.value_counts()

price
(5110.751, 18567.333]     44
(31983.667, 45400.0]       9
(18567.333, 31983.667]     5
Name: count, dtype: int64

In [11]:
range = pd.qcut(df.price, 3)
range.value_counts()
#pd.cut va pd.qcut funksyalarining farqi: cut -> guruhlarga ajratadi (ammo har bir guruhda teng balans bo'lmaydi)
#qcut -> guruhlarga ajratadi (ammo har bir guruhda teng balans bo'ladi)
#misol:
#pd.cut(df.price, 3)
#   taxminan : group1 = 44, group2 = 9, group3 = 5
#pd.qcut(df.price, 3)
#   taxminan : group1 = 20, group2 = 19, group3 = 19

price
(16430.0, 45400.0]    20
(5150.999, 7295.0]    19
(7295.0, 16430.0]     19
Name: count, dtype: int64

In [16]:
df.groupby('company').price.mean()

company
alfa-romero      15498.333333
audi             16392.500000
bmw              27213.333333
chevrolet         6007.000000
dodge             6303.000000
honda            10195.000000
isuzu             6785.000000
jaguar           34600.000000
mazda             9654.800000
mercedes-benz    35040.000000
mitsubishi        6689.000000
nissan            8289.000000
porsche          35528.000000
toyota            8216.857143
volkswagen        8435.000000
volvo            13177.500000
Name: price, dtype: float64

In [18]:
df.groupby(['company', 'body-style']).price.mean()

company        body-style
alfa-romero    convertible    14997.500000
               hatchback      16500.000000
audi           sedan          15550.000000
               wagon          18920.000000
bmw            sedan          27213.333333
chevrolet      hatchback       5723.000000
               sedan           6575.000000
dodge          hatchback       6303.000000
honda          sedan          11645.000000
               wagon           7295.000000
isuzu          sedan           6785.000000
jaguar         sedan          34600.000000
mazda          hatchback       7482.500000
               sedan          18344.000000
mercedes-benz  hardtop        45400.000000
               sedan          33256.000000
               wagon          28248.000000
mitsubishi     hatchback       5789.000000
               sedan           7589.000000
nissan         sedan           8524.000000
               wagon           7349.000000
porsche        convertible    37028.000000
               hardtop        34028.000000
               hatchback               NaN
toyota         hatchback       6058.000000
               wagon           9836.000000
volkswagen     sedan           8435.000000
volvo          sedan          12940.000000
               wagon          13415.000000
Name: price, dtype: float64

In [22]:
df.groupby('company').price.agg([min, max, np.mean])

<ipython-input-22-c7859f60c8e5>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('company').price.agg([min, max, np.mean])
<ipython-input-22-c7859f60c8e5>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('company').price.agg([min, max, np.mean])
<ipython-input-22-c7859f60c8e5>:1: FutureWarning: The provided callable <function mean at 0x7a9ea89f95a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('company').price.agg([min, max, np.mean])

                   min      max          mean
company
alfa-romero    13495.0  16500.0  15498.333333
audi           13950.0  18920.0  16392.500000
bmw            16430.0  41315.0  27213.333333
chevrolet       5151.0   6575.0   6007.000000
dodge           6229.0   6377.0   6303.000000
honda           7295.0  12945.0  10195.000000
isuzu           6785.0   6785.0   6785.000000
jaguar         32250.0  36000.0  34600.000000
mazda           5195.0  18344.0   9654.800000
mercedes-benz  25552.0  45400.0  35040.000000
mitsubishi      5389.0   8189.0   6689.000000
nissan          6649.0  13499.0   8289.000000
porsche        34028.0  37028.0  35528.000000
toyota          5348.0  15750.0   8216.857143
volkswagen      7775.0   9995.0   8435.000000
volvo          12940.0  13415.0  13177.500000

In [23]:
df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])

<ipython-input-23-ef63ca994ced>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])
<ipython-input-23-ef63ca994ced>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])
<ipython-input-23-ef63ca994ced>:1: FutureWarning: The provided callable <function mean at 0x7a9ea89f95a0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('company').price.agg([min, max, np.mean, lambda x: np.median(x)])

                   min      max          mean  <lambda_0>
company
alfa-romero    13495.0  16500.0  15498.333333     16500.0
audi           13950.0  18920.0  16392.500000     16350.0
bmw            16430.0  41315.0  27213.333333     25865.0
chevrolet       5151.0   6575.0   6007.000000      6295.0
dodge           6229.0   6377.0   6303.000000      6303.0
honda           7295.0  12945.0  10195.000000     10345.0
isuzu           6785.0   6785.0   6785.000000         NaN
jaguar         32250.0  36000.0  34600.000000     35550.0
mazda           5195.0  18344.0   9654.800000      6795.0
mercedes-benz  25552.0  45400.0  35040.000000     34604.0
mitsubishi      5389.0   8189.0   6689.000000      6589.0
nissan          6649.0  13499.0   8289.000000      7099.0
porsche        34028.0  37028.0  35528.000000         NaN
toyota          5348.0  15750.0   8216.857143      6918.0
volkswagen      7775.0   9995.0   8435.000000      7985.0
volvo          12940.0  13415.0  13177.500000     13177.5